body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
}

#chat-container {
    overflow-y: scroll;
    height: 80%;
    width: 100%;
    padding: 10px;
    background-color: #fafafa;
}

.message {
    font-size: 24px;
    margin-bottom: 10px;
}

.text-box {
    display: inline-block;
}

.user-message .text-box {
    text-align: right;
}

.gpt-message .text-box {
    text-align: left;
}

#input-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #f3f3f3;
}

#messageInput {
    width: 80%;
    font-size: 24px;
    background-color: blanchedalmond;
}

#sendButton {
    font-size: 24px;
}

#main-container {
    display: flex;
}

#left-section {
    width: 20%;
    float: left;
    height: 100vh;
    background-color: #d1e7dd; /* Just for visual differentiation */
}

#right-section {
    width: 20%;
    float: left;
    height: 100vh;
    background-color: #d1c2e5; /* Just for visual differentiation */
}


#chat-section {
    flex: 6; /* 60% width */
    overflow-y: auto; /* For scrolling */
    max-height: 80vh; /* Adjust according to header/footer or other elements */
    padding: 15px;
    background-color: #fafafa;
}

#chat-container {
    overflow-y: auto; /* Allows scrolling within chat container */
    max-height: 70vh; /* Adjust based on your UI/UX preference */
}

